<picture>
    <source type="image/webp" srcset="images/logo.webp">
    <img src="images/logo.png" alt="Docker for Beginners logo">
</picture>
<p class="lead">
    学习如何快速地利用Docker和云服务构建并部署你的分布式应用 (简体中文)
</p>
<p class="lead">
    原创并开发： <a href="https://prakhar.me">Prakhar Srivastav</a>
    中文翻译： <a href="https://chenquan.me">Quan Chen</a>
</p>
<p class="masthead-links">
    <span>原始仓库:</span>
    <a href="https://github.com/prakhar1989/docker-curriculum">
        <i class="demo-icon icon-github-circled">&#xf09b;</i>
    </a>
    <a href="https://twitter.com/prakharsriv9">
        <i class="demo-icon icon-twitter">&#xf099;</i>
    </a>
    <span>中文翻译:</span>
    <a href="https://github.com/terasum/docker-curriculum">
        <i class="demo-icon icon-github-circled">&#xf09b;</i>
    </a>
</p>